div.container-fluid(id='footer')
 div.row
 div.col-md-6
  h1.display-4(id='footFormHeader') Let's Work Together
  include form 
 div.col-md-6
  h1.display-4(id="connect2") Connect With Me
  hr.my-4
  div(id='icons2')
   a(href='https://www.linkedin.com/in/chris-quintin/', id='icon', class='fab fa-linkedin fa-5x', target="_blank", rel="noopener noreferrer")
   a(href='https://github.com/QuintinChris', id='icon', class='fab fa-github fa-5x', target="_blank", rel="noopener noreferrer")
   a(href='https://codepen.io/chrisquintin', id='icon', class='fab fa-codepen fa-5x', target="_blank", rel="noopener noreferrer")
   a(href='https://www.dropbox.com/s/3hkta1ezwhkzh7z/chrisQuintinResume20.docx?dl=0', id='icon', class='far fa-file-alt fa-5x', target="_blank", rel="noopener noreferrer")
  hr.my-4