extends layout

block content
  div.container-fluid(id='home')
   div.jumbotron
    div.row
     div.col-lg-10(id='intro')
      h1.display-1(id='name', style='margin-bottom: 3vh;') Hi, I'm Chris
      p.lead(style='padding-bottom: 3vh;') Software engineer aspiring to develop apps and services that impact people around the globe
      hr.my-4(id='line1')
      div(id='icons', style='margin-top: 10vh;')
       a(href='https://www.linkedin.com/in/chris-quintin/', id='icon', class='fab fa-linkedin fa-5x', target="_blank", rel="noopener noreferrer")
       a(href='https://github.com/QuintinChris', id='icon', class='fab fa-github fa-5x', target="_blank", rel="noopener noreferrer")
       a(href='https://codepen.io/chrisquintin', id='icon', class='fab fa-codepen fa-5x', target="_blank", rel="noopener noreferrer")
       a(href='https://www.dropbox.com/s/3hkta1ezwhkzh7z/chrisQuintinResume20.docx?dl=0', id='icon', class='far fa-file-alt fa-5x', target="_blank", rel="noopener noreferrer")
      div(id='portfolio')
   // Projects
   div.container-fluid
    h1.display-5(id='header', style='margin-top: 10vh;') Projects
    hr.my-4(width='75%')
    div.col-lg-9
     div.card
      .card-header(style='padding: 0;')
       h4.card-title IRI Data Security Dashboard
      img.card-img-top(src='/images/IRI2.JPG', alt='Card image cap')
      div.card-body
       p.card-text At IRI I developed a series of dashboards to interface with their proprietary data warehousing tool. These dashboards allow companies to ensure the integrity and security of their users data. This project required heavy use of JavaScript to create an interactive front-end and read data from a JSON API on the backend.
      div.btns
       a.btn.btn-lg.btn-primary.disabled(id='blueButton', style='margin-right: 1vh;') View Code 
        i.far.fa-eye-slash
       a.btn.btn-lg.btn-primary(href='https://www.dropbox.com/s/9zpk92e6e4n31ck/IRI-blog.docx?dl=0', target="_blank", rel="noopener noreferrer") View Blog
      div.card-footer
       div.card-icons
        i.devicon-javascript-plain.colored
        i.devicon-bootstrap-plain.colored
        i.devicon-nodejs-plain.colored
        i.devicon-express-original
        i.devicon-mongodb-plain-wordmark.colored
    div.col-lg-9
     div.card
      .card-header(style='padding: 0;')
       h4.card-title Travel Log
      img.card-img-top(src='/images/mapApp2.JPG', alt='Card image cap')
      div.card-body
       p.card-text A MERN stack application that allows users to create entries based on choosing locations on a map. Uses the Mapbox API, as well as Firebase for hosting and deployment.
      div.btns
       a.btn.btn-lg.btn-primary(href='https://github.com/QuintinChris/react-travel-app', style='margin-right: 1vh;', target="_blank", rel="noopener noreferrer") View Code
       a.btn.btn-lg.btn-primary(href='https://trvl-log.web.app/', target="_blank", rel="noopener noreferrer") See Demo
      div.card-footer
       div.card-icons
        i.devicon-react-original.colored
        i.devicon-nodejs-plain.colored
        i.devicon-express-original
        i.devicon-mongodb-plain-wordmark.colored
     div.col-lg-9
     div.card
      .card-header(style='padding: 0;')
       h4.card-title SpaceX Mission Client
      img.card-img-top(src='/images/spacex-app.JPG', alt='Card image cap')
      div.card-body
       p.card-text A fun PWA built on Angular and TypeScript utilizing the SpaceX GraphQL API to display recent launches. This project was my first utilizing a GraphQL API, and it was cool to see the capabilities that lie within the SpaceX API.
      div.btns
       a.btn.btn-lg.btn-primary(href='https://github.com/QuintinChris/spacex-app', style='margin-right: 1vh;', target="_blank", rel="noopener noreferrer") View Code
       a.btn.btn-lg.btn-primary(href='https://spacexapp-2f2ae.web.app/', target="_blank", rel="noopener noreferrer") See Demo
      div.card-footer
       div.card-icons
        i.devicon-typescript-plain.colored
        i.devicon-angularjs-plain.colored
        i.devicon-nodejs-plain.colored
   hr.my-4
    