extends layout

block content
  div.container-fluid(id='home')
   div(id="jumbos")
    div.jumbotron
     div.row
      div.col-lg-6(id='intro')
       h1.display-1(id='name') Hi, I'm Chris
       p.lead Software engineer aspiring to develop apps and services that impact people around the globe
       hr.my-4(id='line1')
       h5(id='connect') Let's Connect!
       div(id='icons')
        a(href='https://www.linkedin.com/in/chris-quintin/', id='icon', class='fab fa-linkedin fa-2x', target="_blank", rel="noopener noreferrer")
        a(href='https://github.com/QuintinChris', id='icon', class='fab fa-github fa-2x', target="_blank", rel="noopener noreferrer")
        a(href='https://codepen.io/chrisquintin', id='icon', class='fab fa-codepen fa-2x', target="_blank", rel="noopener noreferrer")
      div.col-lg-6(id='favs')
       h3.display-4(id='favHeader') My Favorite Projects:
       hr
       div.container(id='cardrow')
        div.card
         h6.card-header New!
         h5.card-title Odin Book
         img.card-img-top(src='...', alt='Card image cap')
         div.card-body
          a.btn.btn-primary(href='#') See Demo
          a.btn.btn-primary(href='#') View Code
        div.card
         h5.card-title Vue Reddit Clone
         img.card-img-top(src='...', alt='Card image cap')
         div.card-body
          a.btn.btn-primary(href='#') See Demo
          a.btn.btn-primary(href='#') View Code
        div.card
         h5.card-title React Monopoly
         img.card-img-top(src='...', alt='Card image cap')
         div.card-body
          a.btn.btn-primary(href='#') See Demo
          a.btn.btn-primary(href='#') View Code
   div(id='work')
   div.container-fluid
    h1.display-5(id='header') Work and Education
    hr(id='smallHr')
    hr.caret-top
    .caret.c1
    .caret.c2
    .caret.c3
   .row
    .col-md-4
     div.card(id='workCard')
      h3.card-header January - May 2020
      h5.card-title IRI, The CoSort Company
      div.card-body
       p At IRI, my task was to complete a series of dashboards that can read data from numerious proprietary programs and transform that data into a graphical user interface. This enabled users to gain a better understanding of their data, faster than they could before.
       a.btn.btn-outline-primary.disabled(id='blueButton') View Code 
        i.far.fa-eye-slash
       a.btn.btn-outline-primary.disabled(id='blueButton', href='', target="_blank", rel="noopener noreferrer") View blog post
    .col-md-4
     div.card(id='workCard')
      h3.card-header May 2020
      h5.card-title Bachelor's of Applied Science - EFSC
      div.card-body
       p I graduated in May 2020 from Eastern Florida State College with a Bachelor's Degree specializing in Software Programming. My coursework included...
       a.btn.btn-outline-primary(id='blueButton', href='https://github.com/QuintinChris?tab=repositories', target="_blank", rel="noopener noreferrer") See some projects
    .col-md-4
     div.card(id='workCard')
      h3.card-header 2020
      h5.card-title Searching for Employment!
      div.card-body
       p Hire me to work with your team and we can build quality projects together!
       a.btn.btn-outline-primary(id='blueButton', href='https://www.dropbox.com/s/7onr3l07w37tdb3/chrisQuintinResume20.docx?dl=0', target="_blank", rel="noopener noreferrer") View resume
       a.btn.btn-outline-primary(id='blueButton-contactBtn', data-toggle="modal", data-target="#myModal") Contact me
   div(id='portfolio')
   // Projects
   div.container-fluid
    h1.display-5(id='header') Projects
    hr.my-4(width='75%')
    div.row
     div.col-md-3
      div.card
       img.card-img-top(src='...', alt='Card image cap')
       div.card-body
        h5.card-title Node/Express App
        p.card-text Some info about the project
        div.tags
         i.devicon-express-original
         i.devicon-css3-plain-wordmark.colored
         i.devicon-html5-plain-wordmark.colored
         i.devicon-nodejs-plain.colored
       div.card-footer
        a.btn.btn-primary(href='', style='margin-right: 1vh;') View Code
        a.btn.btn-primary(href='') See Demo
     div.col-md-3
      div.card
       img.card-img-top(src='...', alt='Card image cap')
       div.card-body
        h5.card-title Angular Project
        p.card-text Project built using a MEAN stack
        div.tags
         i.devicon-mongodb-plain-wordmark.colored
         i.devicon-express-original
         i.devicon-angularjs-plain.colored
         i.devicon-nodejs-plain.colored
       div.card-footer
        a.btn.btn-primary(href='', style='margin-right: 1vh;') View Code
        a.btn.btn-primary(href='') See Demo
     div.col-md-3
      div.card
       img.card-img-top(src='...', alt='Card image cap')
       div.card-body
        h5.card-title Vue.js Project
        p.card-text Project built using a MEVN stack
        div.tags
         i.devicon-mongodb-plain-wordmark.colored
         i.devicon-express-original
         i.devicon-vuejs-plain-wordmark.colored
         i.devicon-nodejs-plain.colored
       div.card-footer
        a.btn.btn-primary(href='', style='margin-right: 1vh;') View Code
        a.btn.btn-primary(href='') See Demo
     div.col-md-3
      div.card
       img.card-img-top(src='...', alt='Card image cap')
       div.card-body
        h5.card-title React Project
        p.card-text Project built using a MERN stack
        div.tags
         i.devicon-mongodb-plain-wordmark.colored
         i.devicon-express-original
         i.devicon-react-original.colored
         i.devicon-nodejs-plain.colored
       div.card-footer
        a.btn.btn-primary(href='', style='margin-right: 1vh;') View Code
        a.btn.btn-primary(href='') See Demo
   hr.my-4
    