div.d-flex.justify-content-center.align-items-center(aria-live='polite', aria-atomic='true', id='myToast')
 .toast(role='alert', aria-live='assertive', aria-atomic='true')
  .toast-header
   i(src='/images/cqBlack.png')
   strong.mr-auto Chrisquintin.com
   small 10 sec ago
   button.ml-2.mb-1.close(type='button', data-dismiss='toast', aria-label='Close')
    span(aria-hidden='true') &times;
  .toast-body Your message has been sent! I will respond to you ASAP.