* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  overflow-x: hidden;
  padding-bottom: 3vh;
}

a {
  color: #00B7FF;
}

.btn .btn-primary {
  color: white !important;
}

.container {
  margin: auto;
  padding: 0;
}

#header {
  text-align: center;
  margin-top: 7vh;
}

.navbar-brand a img {
  background-color: transparent;
}

#logoBtn:hover {
  cursor: pointer;
}

#toggleDark {
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
}

#cardrow {
  display: flex;
  flex-direction: row;
}

#work {
  margin-top: 15vh;
  max-width: 100%;
}

#icon:hover {
  cursor: pointer;
  text-decoration: none;
}

#icon {
  color: black;
  transition: all .2s ease-in-out;
}

#icon:hover {
  transform: scale(1.2);
}

#logoBtn {
  transition: all .2s ease-in-out;
}

#logoBtn:hover {
  transform: scale(1.1);
}

.nav-link:hover {
  cursor: pointer;
}

#colorMode {
  margin: 0;
}

.card {
  margin-bottom: 4vh;
  padding: 1vh;
}

.card-header {
  width: 100%;
  text-align: center;
}

.card-img-top {
  margin-top: 2vh;
  max-width: 60%;
  box-shadow: 0px 0px 5px black;
}

.card-title {
  margin-top: 1vh;
}

.card-footer {
  width: 100%;
}

.card-icons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#intro {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#connect {
  margin-left: 1.1vh;
}

#icons {
  margin-top: 3vh;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#icons2 {
  display: flex;
  justify-content: space-between;
}

#favs {
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: center;
}

#submit {
  text-align: right;
}

#submitBtn {
  margin-top: 2vh;
}

.close {
  float: right;
}

#connect2 {
  text-align: center;
}

.caret {
  margin-top: 0;
  width: 0;
  height: 0;
  display: inline-block;
  border: 30px solid transparent;
  border-top-color: #121212;
}

.caret-top {
  height: 1vh;
  margin-bottom: 0;
  background-color: #121212;
}

.c1 {
  margin-left: 12%;
}

.c2 {
  margin-left: 30%;
}

.c3 {
  margin-left: 30%;
}

.row {
  display: flex;
  flex-direction: row;
}

#workCard {
  height: 23em;
}

#footFormHeader {
  margin-left: 2vh;
}

#blueButton {
  color: #007bff;
}

#blueButton:hover {
  color: white;
}

#blueButton-contactBtn {
  color: #007bff;
  outline: none;
}

#blueButton-contactBtn:hover {
  color: white;
}

#msgLabel {
  margin-top: 3vh;
}

.modal-header {
  display: inline-block;
  width: 96.5%;
  margin-bottom: 1vh;
  padding-bottom: 0;
}

.modal-title {
  margin-left: 0;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

/* FIND ALL DEVICONS HERE */
.devicon-css3-plain-wordmark,
.devicon-html5-plain-wordmark,
.devicon-express-original,
.devicon-nodejs-plain,
.devicon-angularjs-plain,
.devicon-vuejs-plain-wordmark,
.devicon-react-original,
.devicon-mongodb-plain-wordmark,
.devicon-bootstrap-plain,
.devicon-javascript-plain,
.devicon-typescript-plain {
  font-size: 2rem;
}

#smallHr {
  visibility: hidden;
}

.fa-sun:hover {
  transform: scale(1.1);
}

.fa-moon,
.fa-sun {
  transition: all .2s ease-in-out;
}

.fa-moon:hover {
  transform: scale(1.1);
}



/* DARK MODE */

.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .modal {
  padding: 0;
  margin: auto;
}

.dark-mode .modal-content {
  background-color: #292929;
}

.dark-mode .close {
  color: white;
  text-shadow: none;
  float: right;
}

.dark-mode .close:hover {
  color: white;
}

.dark-mode .card {
  background-color: #6666;
}

.dark-mode .jumbotron {
  background-color: #212529;
  opacity: 1.0;
}

.dark-mode hr {
  background-color: white;
}

.dark-mode img {
  object-fit: cover;
  color: white;
  opacity: 1.0;
}

.dark-mode #icon {
  color: white;
}

.dark-mode .nav-tabs .nav-link {
  color: #999999;
}

.dark-mode .nav-tabs .nav-link.active {
  background-color: #121212;
  border-bottom: #121212;
  color: white;
}

.dark-mode .caret-top {
  color: white;
}

.dark-mode .caret {
  margin-top: 0;
  width: 0;
  height: 0;
  display: inline-block;
  border: 30px solid transparent;
  border-top-color: white;
}

.dark-mode #blueButton {
  color: white;
}

.dark-mode #blueButton-contactBtn {
  color: white;
  outline: none;
}

.dark-mode .card-img-top {
  margin-top: 2vh;
  max-width: 60%;
  box-shadow: 0px 0px 5px white;
}

/* Media queries */
@media only screen and (max-width: 1200px) {
  form {
    width: 100%;
  }
}


/* Medium size and below */
@media only screen and (max-width: 992px) {
  #intro {
    text-align: center;
  }

  #line1 {
    margin: 0;
    padding: 0;
  }

  #favs {
    padding-top: 15vh;
  }

  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #icons {
    padding-top: 3vh;
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #connect {
    margin: 0;
    text-align: center;
  }

  #connect2 {
    padding-top: 3vh;
    padding-bottom: 0;
  }

  form {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}

/* Starting at small size */
@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .navbar-brand {
    margin-left: 0;
  }

  .navbar-toggler {
    align-self: center;
  }

  #toggleDark {
    margin-top: 1vh;
    margin-right: 2vh;
  }

  #name {
    margin-bottom: 2rem;
  }

  #favHeader {
    font-size: 9vh;
  }

  #submit {
    margin-right: 0;
    padding: 0;
    margin-top: 0;
    width: 50%;
  }

  #formName {
    margin-bottom: 0;
    width: 50%;
  }

  .caret-top {
    visibility: hidden;
    display: none;
  }

  .caret {
    visibility: hidden;
    display: none;
  }

  .dark-mode .caret {
    visibility: hidden;
    display: none;
  }

  .dark-mode .caret-top {
    visibility: hidden;
    display: none;
  }

  #smallHr {
    visibility: visible;
  }

  #icon {
    margin-right: 1vh;
  }
}

/* extra small size */
@media only screen and (min-width: 768px) {}